@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.whole-cont{
  background-color: #8a0707;
  color: #ffffff;
  font-family: Poppins;
  border-radius: 5px;
  width: 99%;
  margin: 2rem auto;
  padding: 1rem;
}

/* HEADER STYLES: */
header{
  padding: 1rem ;
  margin-top: 1.2rem;
}
header h1{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}
header p{
  color: #c7c2b6;
  text-align: center;
}

/* MAIN SECTION STYLES: */
/* Image section: */
.img-cont{
  width: 100%;
  background-image: url('./images/keyboard.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: red;
  padding: .8rem;
}
.img-cont img{
  width: 85%;
  display: block;
  margin: 0 auto; 
  object-fit: contain;
}
.img-cont .img-desc{
  text-align: center;
  padding: 1rem 0 0; 
}

/* Timeline: */
.time-line{
  width: 50%;
  margin: 1rem auto;
}
.time-line h3{
  margin: 3rem 1rem;
  text-wrap: nowrap;
  text-align: center;
}
.time-line ul{
  margin-bottom: 2.5rem;
}
.time-line ul li{
  padding: .5rem;
  line-height: 1.5rem;
}
.time-line ul li span{
  font-weight: bold;
}
.quote p{
  font-style: italic;
  margin-top: 1.2rem;
}

/* FOOTER STYLES: */
footer{
  text-align: center;
  margin-top: 3rem;
}
footer a{
  color: #477ca7;
}
footer p{
  color: #eeeeee;
  margin-top: 1rem;
}